@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("fonts/Inter-Bold.woff?v=3.19") format("woff");
}

* {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  animation: inherit;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 337px;
  height: 600px;
  background: #141617;
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

.slide._showing {
  visibility: visible;
  opacity: 1;
}

.content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.slide:nth-child(1) .content {
  padding: 34px 14px 0;
  background-image: url("images/slide-1.png");
}

.slide:nth-child(2) .content {
  padding: 34px 37px 36px;
  background-image: url("images/slide-2.png");
}

.slide:nth-child(3) .content {
  padding: 28px 32px 0 36px;
  background-image: url("images/slide-3.png");
}

.slide:nth-child(4) .content {
  padding: 70px 56px 0 35px;
  background-image: url("images/slide-4.png");
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}

.slide:nth-child(1) .svg {
  width: 41px;
  height: 436px;
}

.slide:nth-child(2) .svg {
  width: 27px;
  height: 425px;
}

.slide:nth-child(3) .svg {
  width: 27px;
  height: 482px;
}

.slide:nth-child(4) .svg {
  width: 48px;
  height: 448px;
}

.slide._showing .svg {
  animation: visibility 4s linear forwards;
}

.title {
  font-weight: 700;
  line-height: 158%;
  letter-spacing: .6em;
  text-transform: uppercase;
  text-align: center;
  color: rgb(245, 245, 245);
  text-shadow: 0 -1px rgba(0, 0, 0, .1);
  animation: pulsate 1.2s linear infinite;
}

.slide:nth-child(1) .title {
  margin-bottom: 70px;
  font-size: 16px;
}

.slide:nth-child(2) .title {
  margin-top: 57px;
  font-size: 13px;
}

.slide:nth-child(3) .title {
  margin-bottom: 40px;
  font-size: 10px;
}

.text {
  font-weight: 700;
  font-size: 6px;
  line-height: 158%;
  letter-spacing: .2rem;
  color: #fff;
}

.slide:nth-child(1) .text {
  max-width: 200px;
  margin-bottom: 160px;
}

.slide:nth-child(2) .text {
  max-width: 150px;
  position: absolute;
  top: 43%;
  left: 57%;
}

.slide:nth-child(3) .text {
  max-width: 210px;
}

.slide:nth-child(4) .text {
  margin-top: 306px;
  margin-left: 70px;
}

.title-text {
  margin-top: 258px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 10px;
  line-height: 158%;
  letter-spacing: .1em;
  color: #fff;
}

.hieroglyphs {
  display: grid;
  color: #fff;
  animation: pulsate 1.2s linear infinite;
}

.slide:nth-child(1) .hieroglyphs {
  grid-template-columns:repeat(9, 1fr);
  grid-template-rows:repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 20px;
  row-gap: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
}

.slide:nth-child(2) .hieroglyphs {
  grid-template-columns:repeat(8, fit-content(100%));
  grid-template-rows:repeat(5, 1fr);
  align-items: center;
  justify-items: start;
  column-gap: 19px;
  row-gap: 15px;
  font-weight: 400;
  font-size: 4px;
  line-height: 100%;
}

.slide:nth-child(3) .hieroglyphs {
  justify-content: end;
  grid-template-columns:repeat(9, fit-content(100%));
  grid-template-rows:repeat(7, 1fr);
  align-items: center;
  justify-items: start;
  column-gap: 19px;
  row-gap: 15px;
  font-weight: 400;
  font-size: 4px;
  line-height: 100%;
}

.slide:nth-child(4) .hieroglyphs {
  grid-template-columns:repeat(8, fit-content(100%));
  grid-template-rows:repeat(4, 1fr);
  align-items: center;
  justify-items: start;
  column-gap: 20px;
  row-gap: 15px;
  font-weight: 400;
  font-size: 6px;
  line-height: 100%;
}

.hieroglyphs-big {
  margin: 35px 0 230px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  animation: pulsate 1.2s linear infinite;
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 7px #ffd, 0 0 10px #fff;
  }
}

@keyframes visibility {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
